<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8' />
    <title>Skibbidi Tech Blog</title>
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <h1>
        Skibbidi Tech Blog
    </h1>
    <h3>For Speaking To Youths</h3>
    </header>
    {{{body}}}
    </main>
    </div>
</body>

</html>